{{- $email := promptStringOnce . "email" "crlane@adamanteus.com" -}}
{{- $role := promptStringOnce . "role" "personal|work-aws" -}}

[data]
    email = {{ $email | quote }}
    role = {{ $role | quote }}
