[user]
	name = Cameron Lane
	email = {{ .email | quote }}
[core]
	excludesfile = {{ .chezmoi.homeDir }}/.gitignore_global
	pager = diff-so-fancy | less --tabs=4 -RFX
{{ if eq .role "work-aws" }}
[credential]
	helper = !aws --profile eec codecommit credential-helper $@
	# helper = !aws --profile dev codecommit credential-helper $@
	# helper = !aws --profile eec-gc --region us-gov-west-1 codecommit credential-helper $@
    useHttpPath = true
{{- end -}}
[pull]
	rebase = true
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 227
	frag = magenta bold
	commit = 227 bold
	old = red bold
	new = green bold
	whitespace = red reverse
[init]
	defaultBranch = main
[alias]
	dag = log --graph --format='format:%C(yellow)%h%C(reset) %C(blue)\"%an\" <%ae>%C(reset) %C(magenta)%cr%C(reset)%C(auto)%d%C(reset)%n%s' --date-order
    l = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short

    a = add
    ap = add -p

    c = commit -v
    ca = commit -av
    cm = commit -m
    cam = commit -avm
    ## m = commit --amend --verbose

    d = diff
    ds = diff --stat
    dc = diff --cached

    s = status -s

    co = checkout
    cob = checkout -b

    # list aliases
    la = "!git config -l | grep alias | cut -c 7-"

[help]
    autocorrect = 10
[diff]
    algorithm = histogram
[branch]
    sort = -committerdate
[push]
    autoSetupRemote = true
# [merge]
#     conflictstyle = zdiff3
