# shell initialization
HISTFILE="$HOME/.zsh_history"
HISTSIZE=1000000
SAVEHIST=$HISTSIZE
setopt INC_APPEND_HISTORY
setopt HIST_FIND_NO_DUPS
setopt HIST_IGNORE_ALL_DUPS
setopt HIST_IGNORE_SPACE
setopt HIST_REDUCE_BLANKS
HISTORY_IGNORE="(ls*|cd*|pwd|exit|fc*|clear)"
zshaddhistory() {
  emulate -L zsh
  ## uncomment if HISTORY_IGNORE
  ## should use EXTENDED_GLOB syntax
  setopt extendedglob
  [[ $1 != ${~HISTORY_IGNORE} ]]
}

# Aliases
alias zshconfig="vi ~/.zshrc"
alias vi=nvim
alias vim=nvim
alias moi=chezmoi
alias wa="watch -d"
{{ if eq .chezmoi.os "darwin" }}
# use the homebrew tools version of sed
alias sed="gsed"
{{- end }}
alias ll="ls -lFGh"
alias la="ls -lAFGh"
alias ltn="ls -lFGt"
alias lto="ls -lFGtr"
alias bc="bc -li"
alias zb="zig build"
alias zbt="zig build test"

# COMPLETIONS
fpath=(${ASDF_DATA_DIR:-$HOME/.asdf}/completions $fpath)
autoload -Uz compinit && compinit

# EXPORTS
export LANG=en_US.UTF-8
export LC_ALL=en_US.UTF-8
export EDITOR=nvim
export GPG_TTY=$(tty)
# PATHS
export PATH="${ASDF_DATA_DIR:-$HOME/.asdf/shims}":$PATH
{{ if eq .chezmoi.os "darwin" }}
export PATH=/opt/homebrew/bin:$PATH
{{- end -}}
{{ if eq .role "work-aws" }}
export PATH=$HOME/.toolbox/bin:$PATH
{{- end }}
export PATH=$HOME/bin:$PATH

# use vim keybindings
# # see http://dougblack.io/words/zsh-vi-mode.html
bindkey -v
bindkey -M viins 'jj' vi-cmd-mode
bindkey '^P' up-history
bindkey '^N' down-history
bindkey '^?' backward-delete-char
bindkey '^h' backward-delete-char
bindkey '^w' backward-kill-word
bindkey '^r' history-incremental-search-backward

# shell customization
[ -f ~/.fzf.zsh ] && source ~/.fzf.zsh
export FZF_DEFAULT_COMMAND='rg --files --hidden --follow --glob "!.git/*"'

# Hook tools into your shell.
[ -f "$(which direnv)" ] && eval "$(direnv hook zsh)" || true
[ -f "$(which starship)" ] && eval "$(starship init zsh)" || true
[ -f "$(which zoxide)" ] && eval "$(zoxide init --cmd cd zsh)" || true
