# Aliases
alias zshconfig="vi ~/.zshrc"
alias vi=nvim
alias vim=nvim
{{ if eq .chezmoi.os "darwin" }}
# use the homebrew tools version of sed
alias sed="gsed"
{{- end }}

# EXPORTS
export EDITOR=nvim
export GPG_TTY=$(tty)
# User configuration
{{ if eq .chezmoi.os "darwin" }}
export PATH=/opt/homebrew/bin:$PATH
{{- end }}
{{ if eq .role "work-aws" }}
export PATH=$HOME/.toolbox/bin:$PATH
{{- end }}

# You may need to manually set your language environment
export LANG=en_US.UTF-8
export LC_ALL=en_US.UTF-8

# use vim keybindings
# # see http://dougblack.io/words/zsh-vi-mode.html
bindkey -v
bindkey -M viins 'jj' vi-cmd-mode
bindkey '^P' up-history
bindkey '^N' down-history
bindkey '^?' backward-delete-char
bindkey '^h' backward-delete-char
bindkey '^w' backward-kill-word
bindkey '^r' history-incremental-search-backward


# shell customization
[ -f ~/.fzf.zsh ] && source ~/.fzf.zsh
export FZF_DEFAULT_COMMAND='rg --files --hidden --follow --glob "!.git/*"'

if [ -f "$HOME/.asdf/asdf.sh" ];
then
    . $HOME/.asdf/asdf.sh
    # append completions to fpath
    fpath=(${ASDF_DIR}/completions $fpath)
    # initialise completions with ZSH's compinit
    autoload -Uz compinit && compinit
fi

# Hook direnv into your shell.
eval "$(direnv hook zsh)"
eval "$(starship init zsh)" || true
eval "$(zoxide init --cmd cd zsh)" || true
