[user]
	name = Cameron Lane
	email = {{ .email | quote }}
[core]
	excludesfile = {{ .chezmoi.homeDir }}/.gitignore_global
	pager = diff-so-fancy | less --tabs=4 -RFX
{{ if eq .role "work-aws" }}
[credential]
	helper = !aws --profile eec codecommit credential-helper $@
	# helper = !aws --profile dev codecommit credential-helper $@
	# helper = !aws --profile eec-gc --region us-gov-west-1 codecommit credential-helper $@
    useHttpPath = true
{{- end }}
[pull]
	rebase = true
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 227
	frag = magenta bold
	commit = 227 bold
	old = red bold
	new = green bold
	whitespace = red reverse
[init]
	defaultBranch = main
[alias]
	dag = log --graph --format='format:%C(yellow)%h%C(reset) %C(blue)\"%an\" <%ae>%C(reset) %C(magenta)%cr%C(reset)%C(auto)%d%C(reset)%n%s' --date-order
