" Cameron Lane's .vimrc customization file
" Last change: 2025-05-16T08:29:52
"""""""""""""""""""""""""""""""  Plugins  """""""""""""""""""""""""""""""""""""""""""
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
"""""""""""""""""""""""""""" Key Remappings  """""""""""""""""""""""""""""""""""

" Remap spacebar to be the leader
nnoremap <Space> <Nop>
let mapleader = "\<Space>"


" switch modes without leaving home row
inoremap jj <Esc>

" better window navigation
nnoremap <silent> <C-h> :wincmd h<cr>
nnoremap <silent> <C-j> :wincmd j<cr>
nnoremap <silent> <C-k> :wincmd k<cr>
nnoremap <silent> <C-l> :wincmd l<cr>

" Clear screen highlighting
map <silent> <leader><leader> :noh<cr>

" fix trailing whitespace
nnoremap <leader>ws :%s/\s\+$//e<cr>
""""""""""""""""""""""""""" General Editor Settings """"""""""""""""""""""""""""
" Enable filetype plugins
filetype plugin on
filetype indent on

set encoding=utf-8                      " always work with unicode files
set fileencoding=utf-8                  " always work with unicode files
set backspace=indent,eol,start          " allow backspacing over everything in insert mode
set history=50                          " keep 50 lines of command line history
set ruler                               " show the cursor position all the time
set showcmd                             " display incomplete commands
set incsearch                           " do incremental searching
set spell                               " check spelling by default.
set showmatch                           " Show matching brackets.
set autowrite                           " Automatically save before commands like :next and :make
set number                              " Enable line numbers by default
set relativenumber                      " Enable relative line numbers by default
set tabstop=4 shiftwidth=4 expandtab    " prefer spaces over tabs
set laststatus=2                        " always show status bar (helpful for airline)
set pastetoggle=<F7>                    " set the pastetoggle to F7
set clipboard=unnamed                   " use systemclipboard

" set persistent undo
if has('persistent_undo')
    set undodir=$HOME/.vim/undo
    set undolevels=10000
    set undofile
endif

" Having longer updatetime (default is 4000 ms = 4s) leads to noticeable
" delays and poor user experience
set updatetime=300

" Always show the signcolumn, otherwise it would shift the text each time
" diagnostics appear/become resolved
set signcolumn=yes" Always show the signcolumn, otherwise it would shift the text each time
" diagnostics appear/become resolved
set signcolumn=yes
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""

"""""""""""""""""""""""""" Appearance, Colors, & Fonts """""""""""""""""""""""""
syntax enable                           " If using a dark background within the editing area and syntax highlighting
set background=dark                     " set a dark background
colorscheme solarized8_dark_high

" Also switch on highlighting the last used search pattern.
if &t_Co > 4 || has("gui_running")
    syntax on                           " Switch syntax highlighting on, when the terminal has colors
    set hlsearch                        " highlight when searching
    set guifont=Liberation_Mono_for_Powerline:h10 " if using gui, make sure powerline fonts are available
endif

""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""


" Python, visual line length suggestion
au FileType python set colorcolumn=80   " add an 80 char bg highlight

" set 2 space tabs for the following filetypes
autocmd FileType ruby,haml,eruby,yaml,sass,cucumber,javascript,html set ai sw=2 sts=2 et

" highlight json as though it were JS
autocmd BufNewFile,BufRead *.json setlocal ft=javascript

" the following extensions should be treated like ruby
autocmd BufNewFile,BufRead {Gemfile,VagrantFile,*.pp} set ft=ruby

" cython files should be treated like python
autocmd BufNewFile,BufRead *.pyx setlocal ft=python

" Go uses tabs not spaces
autocmd FileType go setlocal noexpandtab
autocmd FileType go setlocal tabstop=4

""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""


"""""""""""""""""""""""""""" Plugin specific values """"""""""""""""""""""""""""

""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
